<div class="container">
  <button mat-icon-button  routerLink="/buku">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-form-field color="accent">
    <input matInput placeholder="Judul" >
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Penulis" >
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Tahun Publish" type="number">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Publisher" >
  </mat-form-field>
  <button mat-raised-button color="accent">Simpan</button>

</div>