<div class="container">
    <div class="breadcrumb">
        <button mat-icon-button  routerLink="/">
          <mat-icon>arrow_back</mat-icon>
        </button>
     <button mat-button routerLink="/" >Home</button>\
     <button mat-button routerLink="/anggota" >Anggota</button>\
     <button mat-button disabled>Anggota baru</button>
      </div>
  
  <mat-form-field color="accent">
    <input matInput placeholder="Nama">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Email" type="Email">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Alamat">
  </mat-form-field>
  <button mat-raised-button color="accent">Simpan</button>

</div>