<div class="container">
  
  <div class="breadcrumb">
      <button mat-icon-button  routerLink="/">
        <mat-icon>arrow_back</mat-icon>
      </button>
   <button mat-button routerLink="/" >Home</button>\
   <button mat-button disabled>Pengaturan</button>
    </div>
  <mat-form-field color="accent">
    <input matInput placeholder="Password lama" type="password">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Password baru" type="password">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Ulangi password" type="password">
  </mat-form-field>

  <button mat-raised-button color="accent">Reset Password</button>

</div>