.container {
    margin: 20px 10px;
}
.container >.mat-form-field {
    width: 100%;
}

.container >.mat-raised-button {
    width: auto;
    float: right;
}
.breadcrumb {
    margin: 0;
    padding: 10px 0;
}
.breadcrumb >* {
    display: inline;
    line-height: 0;
    margin: 0 2px;
    padding: 0;
}