<div class="container">
<mat-card class="form-login">
  <mat-card-title style="text-align: center;">Sign In</mat-card-title>
  <mat-form-field color="accent">
    <input matInput placeholder="Enter your email" >
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="onLogon()">Login</button>
</mat-card>
</div>
