<div class="container">
    <div style="display: flex;justify-content: space-between">
        <button mat-icon-button  routerLink="/">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button color="accent" routerLink="/anggota/add" ><mat-icon>library_add</mat-icon></button>
      </div>
  <mat-card>
    <mat-card-title>Agung Jati</mat-card-title>
    <mat-card-subtitle>XII RPL B </mat-card-subtitle>
  </mat-card>
  <mat-card>
    <mat-card-title>Alucard</mat-card-title>
    <mat-card-subtitle>XII RPL B </mat-card-subtitle>
  </mat-card>
  <mat-card>
    <mat-card-title>Layla</mat-card-title>
    <mat-card-subtitle>XII RPL B </mat-card-subtitle>
  </mat-card>
  <mat-card>
      <mat-card-title>Thamuz</mat-card-title>
      <mat-card-subtitle>XI RPL B </mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>Dapuk Is Kandar</mat-card-title>
        <mat-card-subtitle>XII RPL B </mat-card-subtitle>
      </mat-card>
      <mat-card>
          <mat-card-title>Xenobia</mat-card-title>
          <mat-card-subtitle>XII RPL B </mat-card-subtitle>
        </mat-card>
</div>