.container {
    margin: 20px 10px;
    padding-bottom: 60px;
}   

.container >.mat-card {
    margin: 10px 0;
    cursor: pointer;
}
.content {
    padding-bottom: 60px;
    float: left;
}

.content  >.mat-card  {
    float: left;
    width: 94%;
    margin: 10px 1%;
}
.container >.mat-card:hover { box-shadow: 0 0; }
.breadcrumb {
    margin: 0;
    padding: 10px 0;
}
.breadcrumb >* {
    display: inline;
    line-height: 0;
    margin: 0 2px;
    padding: 0;
}